# --- Python / Django ---
# Entornos virtuales
venv/
.venv/
env/
ENV/
bin/
include/
lib/
lib64/

# Archivos de caché y compilados
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Configuración de Django y DB local
db.sqlite3
*.sqlite3
.env
local_settings.py
media/
staticfiles/
static_root/
*.log

# --- Node / React ---
# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build de producción (si no lo subes)
build/
dist/
dist-ssr/

# Frontend - Entornos y tests
*.local
.eslintcache
coverage/

# --- IDEs / Sistemas Operativos ---
# VS Code
.vscode/
# PyCharm / IntelliJ
.idea/
# macOS
.DS_Store
# Windows
Thumbs.db
